*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    180deg,
    #000000 0%,
    #411414 50%,
    #000000 100%
  );
  font-family: 'Syne Mono', monospace;
  font-size: 20px;
  color: rgb(235, 235, 235);
}

.blur-active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  position: sticky;
  display: flex;
  top: 0;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px 0px 40px 40px;
  z-index: 9;
}

.nav-logo {
  letter-spacing: 10px;
  font-size: 40px;
  color: #fafafa;
}

.nav-input {
  border-radius: 15px;
  padding: 10px 25px;
  color: white;
  border: transparent;
  font-size: 18px;
  width: 350px;
  background-color: #82828242;
  font-family: 'Syne Mono', monospace;
}

.nav-input:focus {
  outline: none;
  background-color: rgba(78, 77, 77, 0.8);
  font-family: 'Syne Mono', monospace;
}

.nav-link {
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 30px;
  text-shadow: 0 0 5px #ff0000, 0 0 20px #000000, 0 0 90px rgb(255, 0, 0),
    0 0 150px rgb(73, 73, 73);
  border: 2px solid transparent;
  transition: 0.3s;
}

h1,
h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-switch-box {
  position: relative;
  margin: 20px 0;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #411414;
}

.toggle-btn {
  position: relative;
  text-align: center;
  padding: 10px 30px;
  font-size: 24px;
  background-color: transparent;
  border: 0;
  font-family: 'Syne Mono', monospace;
  color: white;
  outline: none;
  text-shadow: none;
  cursor: pointer;
}

.toggle-active {
  color: rgb(245, 247, 221);
  text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
    0 0 150px rgb(255, 0, 0);
}

.button-bgc-switch {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #411414;
  border-radius: 30px;
  transition: 0.5s;
  border: 2px solid #411414;
}

.buttons-choose-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn-choose {
  padding: 10px 30px;
  margin: 20px;
  font-size: 20px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-family: 'Syne Mono', monospace;
  text-shadow: 0 0 5px #ff0000, 0 0 20px #000000, 0 0 90px rgb(255, 0, 0),
    0 0 150px rgb(73, 73, 73);
  transition: transform 0.3s;
  cursor: pointer;
}

.btn-choose span {
  color: rgb(247, 250, 200);
}

.btn-choose:hover,
.btn-choose:hover span,
.nav-link:hover {
  transform: scale(1.05);
  color: #ff8484;
}

h2 {
  padding: 10px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(247, 250, 200);
  text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
    0 0 150px rgb(255, 0, 0);
}

h2 span {
  animation: flicker 1s 3 ease-in-out;
}

@keyframes flicker {
  0%,
  75% {
    text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
      0 0 150px rgb(255, 0, 0);
  }
  50%,
  100% {
    text-shadow: none;
  }
}

.cards-container {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 390px;
  max-height: 450px;
  overflow: hidden;
  margin: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  z-index: 1;
  opacity: 85%;
  cursor: pointer;
}

.card-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 330px;
  transition: transform 0.3s;
  z-index: -100;
}

.card-poster img {
  width: 100%;
  height: 100%;
}

.card-title {
  padding-top: 7px;
  min-height: 60px;
  max-height: 100px;
  text-align: center;
  background-color: black;
}

.card:hover .card-poster {
  transform: scale(1.05);
}
.card:hover {
  opacity: 100%;
}

.modal {
  position: fixed;
  transform: translate(-50%, -50%);
  min-height: 80vh;
  max-height: 90vh;
  width: 60vw;
  max-width: 1000px;
  background-color: rgba(20, 19, 19, 0.9);
  border-radius: 30px;
  opacity: 0;
  padding: 15px 10px;
}

.modal-active {
  left: 50%;
  animation: showModal 0.7s forwards;
}

@keyframes showModal {
  0% {
    top: 30%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.modal-flex-box {
  display: flex;
  padding: 20px;
}

.modal-left-side img {
  height: 40vh;
  border-radius: 30px;
}

.modal-right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: 30px;
}

.modal-right-side p:nth-child(2n-1) {
  margin-top: 45px;
}

.modal-overview {
  padding: 0 25px;
  font-size: 26px;
}

.modal-close-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 50px;
  border: none;
  background-color: transparent;
  font-family: 'Syne Mono', monospace;
  color: rgb(251, 68, 68);
  cursor: pointer;
  padding: 15px;
  z-index: 999;
}

.modal-close-btn:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
    0 0 150px rgb(255, 0, 0);
}

.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0);
  box-shadow: 0px 0px 60px 30px black;
  justify-content: center;
  align-items: center;
}

.current-year {
  color: white;
}
