*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  --maroon: #411414;
  --black: #000000;
  --white: rgb(235, 235, 235);
  --oragne: rgba(255, 140, 58, 0.85);
  --green: rgba(43, 255, 0, 0.75);
}

body {
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    var(--black) 0%,
    var(--maroon) 50%,
    var(--black) 100%
  );
  font-family: 'Syne Mono', monospace;
  font-size: 20px;
  color: var(--white);
}

.blur-active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

.nav {
  position: sticky;
  display: flex;
  top: 0;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px 0px 40px 40px;
  z-index: 9;
}

.nav-logo {
  letter-spacing: 10px;
  font-size: 40px;
  color: var(--white);
}

.nav-link {
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 30px;
  text-shadow: 0 0 5px #ff0000, 0 0 20px #000000, 0 0 90px rgb(255, 0, 0),
    0 0 150px rgb(73, 73, 73);
  border: 2px solid transparent;
  transition: 0.3s;
}

h1,
h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.switcher-box {
  position: relative;
  margin: 30px 0;
}
.switcher {
  position: relative;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 300px;
  border-radius: 25px;
  cursor: pointer;
  z-index: 0;
  border: 2px solid var(--maroon);
}

.switcher p {
  position: relative;
  color: var(--white);
  display: inline;
  font-size: 24px;
  font-family: 'Syne Mono', monospace;
  z-index: 999;
  margin: 0 10px;
}

.switcher-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 25px;
  background-color: var(--maroon);
  transition: left 0.5s;
}

.switch-bgc-to-active {
  left: 50%;
}

.switch-to-active {
  color: var(--white);
  text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
    0 0 150px rgb(255, 0, 0);
  overflow: hidden;
}

.search-box {
  position: relative;
  align-self: center;
}

.search-input {
  border-radius: 15px;
  padding: 10px 25px;
  color: var(--white);
  border: 2px solid transparent;
  font-size: 18px;
  width: 350px;
  background-color: #323232;
  font-family: 'Syne Mono', monospace;
  z-index: 1;
}

.search-input:focus {
  outline: none;
  background-color: rgb(36, 36, 36);
  font-family: 'Syne Mono', monospace;
  border: 2px solid transparent;
}

.search-btn {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 70%;
  font-size: 18px;
  border-radius: 50px;
  padding: 10px 12px;
  border: 2px solid transparent;
  background-color: var(--oragne);
  cursor: pointer;
  visibility: hidden;
}

.search-btn-visible {
  animation: showSearchButton 0.8s forwards;
}

@keyframes showSearchButton {
  0% {
    visibility: hidden;
    left: 80%;
    z-index: -1;
  }
  95% {
    visibility: visible;
    left: 102%;
    z-index: -1;
  }
  100% {
    visibility: visible;
    left: 102%;
    z-index: 1;
  }
}

.search-btn-hidden {
  animation: hideSearchButton 0.8s forwards;
}

@keyframes hideSearchButton {
  100% {
    visibility: hidden;
    left: 80%;
    z-index: -1;
  }
  5% {
    visibility: visible;
    left: 102%;
    z-index: -1;
  }
  0% {
    visibility: visible;
    left: 102%;
    z-index: 1;
  }
}

.search-btn:hover {
  transform: scale(1.1);
}

.buttons-choose-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn-choose {
  padding: 10px 30px;
  margin: 20px;
  font-size: 20px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  font-family: 'Syne Mono', monospace;
  text-shadow: 0 0 5px #ff0000, 0 0 20px #000000, 0 0 90px rgb(255, 0, 0),
    0 0 150px rgb(73, 73, 73);
  transition: transform 0.3s;
  cursor: pointer;
}

.sort-dropdown {
  position: relative;
  align-self: center;
  width: 320px;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  padding: 5px 20px;
  color: var(--white);
  text-shadow: 0 0 5px #ff0000, 0 0 20px #000000, 0 0 90px rgb(255, 0, 0),
    0 0 150px rgb(73, 73, 73);
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--black);
  border: 2px solid rgba(79, 79, 79, 0.85);
  transition: background 0.5s;
}

.select-clicked {
  border: 2px solid grey;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--oragne);
  transition: transform 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background-color: rgba(35, 34, 34, 0.95);
  border: 1px solid var(--oragne);
  border-radius: 15px;
  color: white;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 8px 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.menu li:hover {
  background-color: rgba(84, 68, 68, 0.85);
}

.active {
  background-color: rgba(139, 83, 48, 0.85);
}

.menu-open {
  display: block;
  opacity: 1;
}

.btn-choose span {
  color: rgb(247, 250, 200);
}

.btn-choose-active {
  border: 3px solid var(--green);
}

.genres-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.genre-btn {
  font-size: 20px;
  background-color: var(--oragne);
  font-family: 'Syne Mono', monospace;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.genre-btn:hover {
  transform: scale(1.1);
}

.genre-btn-selected {
  transform: scale(1.05);
  background-color: var(--green);
}

.btn-choose:hover,
.btn-choose:hover span,
.nav-link:hover {
  transform: scale(1.05);
  color: #ff8484;
}

h2 {
  padding: 10px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffba;
  text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
    0 0 150px rgb(255, 0, 0);
}

h2 span {
  animation: flicker 1s 3 ease-in-out;
}

@keyframes flicker {
  0%,
  75% {
    text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
      0 0 150px rgb(255, 0, 0);
  }
  50%,
  100% {
    text-shadow: none;
  }
}

.cards-container {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 390px;
  max-height: 450px;
  overflow: hidden;
  margin: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  z-index: 1;
  opacity: 85%;
  cursor: pointer;
}

.card-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 330px;
  transition: transform 0.3s;
  z-index: -100;
}

.card-poster img {
  width: 100%;
  height: 100%;
}

.card-title {
  padding-top: 7px;
  min-height: 60px;
  max-height: 100px;
  text-align: center;
  background-color: var(--black);
}

.card:hover .card-poster {
  transform: scale(1.05);
}
.card:hover {
  opacity: 100%;
}

.pages-box {
  margin-top: 30px;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--oragne);
  border-radius: 25px;
  width: 200px;
}

.pages-box span {
  color: #000000;
  font-size: 30px;
  padding: 5px 25px;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.pages-box button {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  font-size: 36px;
  cursor: pointer;
  transition: transform 0.2s;
}

.pages-box button:hover,
.page-btn:hover,
.page-prev:hover,
.page-next:hover {
  transform: scale(1.1);
}

.decrement-page-btn {
  visibility: hidden;
}

.all-pages-container {
  margin-top: 20px;
}

.page-btn {
  font-size: 15px;
  padding: 5px;
  margin: 3px;
  border: none;
  border-radius: 15px;
  font-family: 'Syne Mono', monospace;
  background-color: var(--oragne);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.page-btn-active {
  background-color: var(--green);
}

.page-prev,
.page-next {
  font-size: 15px;
  padding: 5px 10px;
  margin: 3px;
  border: none;
  border-radius: 15px;
  font-family: 'Syne Mono', monospace;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: rgba(255, 204, 0, 0.939);
}

.modal {
  position: fixed;
  transform: translate(-50%, -50%);
  min-height: 80vh;
  max-height: 90vh;
  width: 60vw;
  max-width: 1000px;
  padding: 15px 10px;
  border-radius: 30px;
  background-color: rgba(20, 19, 19, 0.9);
  opacity: 0;
}

.modal-active {
  left: 50%;
  animation: showModal 0.7s forwards;
}

@keyframes showModal {
  0% {
    top: 30%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.modal-flex-box {
  display: flex;
  padding: 20px;
}

.modal-left-side img {
  height: 40vh;
  border-radius: 30px;
}

.modal-right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
  font-size: 30px;
}

.modal-right-side p:nth-child(2n-1) {
  margin-top: 35px;
}

.modal-overview {
  padding: 0 25px;
  font-size: 26px;
}

.modal-close-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 50px;
  border: none;
  background-color: transparent;
  font-family: 'Syne Mono', monospace;
  color: rgb(251, 68, 68);
  cursor: pointer;
  padding: 15px;
  z-index: 999;
}

.modal-close-btn:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
    0 0 150px rgb(255, 0, 0);
}

.footer {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--black);
  box-shadow: 0px 0px 60px 30px var(--black);
  justify-content: center;
  align-items: center;
}

.current-year {
  color: var(--white);
}
