*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  --maroon: rgb(65, 20, 20);
  --black: rgba(0, 0, 0, 0.937);
  --white: rgb(235, 235, 235);
  --orange: rgba(255, 140, 58, 0.85);
  --green: rgba(43, 255, 0, 0.75);
}

body {
  position: relative;
  background-image: linear-gradient(
    180deg,
    var(--black) 0%,
    var(--maroon) 50%,
    var(--black) 100%
  );
  font-family: 'Syne Mono', monospace;
  font-size: 20px;
  color: var(--white);
}

.blur-active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1,
h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.switcher {
  position: relative;
  align-self: center;
  margin: 40px auto;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 300px;
  border-radius: 25px;
  cursor: pointer;
  z-index: 0;
  border: 2px solid var(--maroon);
}

.switcher p {
  position: relative;
  color: var(--white);
  display: inline;
  font-size: 24px;
  font-family: 'Syne Mono', monospace;
  z-index: 999;
  margin: 0 10px;
}

.switcher-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 25px;
  background-color: var(--maroon);
  transition: left 0.5s;
}

.switch-bgc-to-active {
  left: 50%;
}

.switch-to-active {
  color: var(--white);
  text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
    0 0 150px rgb(255, 0, 0);
  overflow: hidden;
}

.search-box {
  position: relative;
  align-self: center;
}

.search-input {
  border-radius: 15px;
  padding: 10px 25px;
  color: var(--white);
  border: 2px solid transparent;
  font-size: 18px;
  width: 350px;
  background-color: #323232;
  font-family: 'Syne Mono', monospace;
  z-index: 1;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.search-input:focus {
  outline: none;
  background-color: rgb(36, 36, 36);
  font-family: 'Syne Mono', monospace;
  border: 2px solid transparent;
}

.search-btn {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0%;
  font-size: 18px;
  border-radius: 50px;
  padding: 10px 12px;
  border: 2px solid transparent;
  background-color: var(--orange);
  cursor: pointer;
  visibility: hidden;
}

.search-btn-visible {
  animation: showSearchButton 0.8s forwards;
}

@keyframes showSearchButton {
  0% {
    visibility: hidden;
    left: 80%;
    z-index: -1;
  }
  95% {
    visibility: visible;
    left: 102%;
    z-index: -1;
  }
  100% {
    visibility: visible;
    left: 102%;
    z-index: 1;
  }
}

.search-btn-hidden {
  animation: hideSearchButton 0.8s forwards;
}

@keyframes hideSearchButton {
  100% {
    visibility: hidden;
    left: 80%;
    z-index: -1;
  }
  5% {
    visibility: visible;
    left: 102%;
    z-index: -1;
  }
  0% {
    visibility: visible;
    left: 102%;
    z-index: 1;
  }
}

.search-btn:hover {
  transform: scale(1.1);
}

.buttons-choose-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn-choose {
  padding: 10px 30px;
  margin: 20px;
  font-size: 20px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  font-family: 'Syne Mono', monospace;
  text-shadow: 0 0 5px #ff0000, 0 0 20px #000000, 0 0 90px rgb(255, 0, 0),
    0 0 150px rgb(73, 73, 73);
  transition: transform 0.3s;
  cursor: pointer;
}

.sort-dropdown {
  position: relative;
  align-self: center;
  width: 320px;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
  padding: 5px 20px;
  margin: 10px auto;
  color: var(--white);
  text-shadow: 0 0 5px #ff0000, 0 0 20px #000000, 0 0 90px rgb(255, 0, 0),
    0 0 150px rgb(73, 73, 73);
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--black);
  border: 2px solid rgba(79, 79, 79, 0.85);
  transition: background 0.5s;
}

.select-clicked {
  border: 2px solid grey;
}

.caret {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--orange);
  transition: transform 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background-color: rgba(35, 34, 34, 0.95);
  border: 1px solid var(--orange);
  border-radius: 15px;
  color: white;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 100;
}

.menu li {
  padding: 8px 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.menu li:hover {
  background-color: rgba(84, 68, 68, 0.85);
}

.menu-active {
  background-color: rgba(139, 83, 48, 0.85);
}

.menu-open {
  display: block;
  opacity: 1;
}

.btn-choose span {
  color: rgb(247, 250, 200);
}

.btn-choose-active {
  border: 3px solid var(--green);
}

.back-to-home-btn {
  position: fixed;
  top: 10vh;
  left: 3vw;
  font-size: 30px;
  background-color: var(--orange);
  font-family: 'Syne Mono', monospace;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 10;
  color: var(--black);
  visibility: hidden;
}

.genres-box {
  margin-top: 20px 5px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.genre-btn {
  font-size: 20px;
  background-color: var(--orange);
  font-family: 'Syne Mono', monospace;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.genre-btn:hover,
.back-to-home-btn:hover {
  transform: scale(1.1);
}

.genre-btn-selected {
  transform: scale(1.05);
  background-color: var(--green);
}

.btn-choose:hover,
.btn-choose:hover span,
.nav-link:hover {
  color: #ff8484;
}

h2 {
  padding: 10px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffba;
  text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
    0 0 150px rgb(255, 0, 0);
}

h2 span {
  animation: flicker 1s 3 ease-in-out;
}

@keyframes flicker {
  0%,
  75% {
    text-shadow: 0 0 5px #ff0000, 0 0 20px #f90808, 0 0 90px rgb(246, 4, 4),
      0 0 150px rgb(255, 0, 0);
  }
  50%,
  100% {
    text-shadow: none;
  }
}

.cards-container {
  position: relative;
  max-width: 1400px;
  min-height: 70vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 390px;
  max-height: 450px;
  overflow: hidden;
  margin: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  z-index: 1;
  opacity: 85%;
  cursor: pointer;
  box-shadow: 15px 15px 10px rgba(0,0,0,0.5);
}

.card-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 330px;
  transition: transform 0.6s;
  z-index: -100;
}

.card-poster img {
  width: 100%;
  height: 100%;
}

.card-title {
  padding: 7px 2px;
  min-height: 60px;
  max-height: 100px;
  text-align: center;
  background-color: var(--black);
  z-index: 1;
}

.card .btn-add {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 40%;
  width: 45px;
  height: 45px;
  font-size: 30px;
  background-color: var(--orange);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, bottom 0.5s;
  z-index: -100;
}

.card .btn-add:hover {
  background-color: rgba(43, 255, 0, 0.95);
}

.card:hover .card-poster {
  transform: scale(1.05);
}

.card:hover .btn-add {
  bottom: 25%;
}

.card:hover {
  opacity: 100%;
}

.pages-box {
  margin-top: 30px;
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  background-color: var(--orange);
  border-radius: 25px;
  width: 200px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.pages-box span {
  color: #000000;
  font-size: 30px;
  padding: 5px 25px;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.pages-box button {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  font-size: 36px;
  cursor: pointer;
  transition: transform 0.2s;
}

.pages-box button:hover,
.page-btn:hover,
.page-prev:hover,
.page-next:hover {
  transform: scale(1.1);
}

.decrement-page-btn {
  visibility: hidden;
}

.all-pages-container {
  margin-top: 20px;
}

.page-btn {
  font-size: 15px;
  margin: 3px;
  border: none;
  border-radius: 15px;
  min-width: 30px;
  min-height: 30px;
  background-color: var(--orange);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.page-btn-active {
  background-color: var(--green);
}

.page-prev,
.page-next {
  font-size: 15px;
  padding: 5px 10px;
  margin: 3px;
  border: none;
  border-radius: 15px;
  font-family: 'Syne Mono', monospace;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: rgba(255, 204, 0, 0.939);
}

.footer {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--black);
  box-shadow: 0px 0px 60px 30px var(--black);
  justify-content: center;
  align-items: center;
}

.show-info-about-video {
  position: fixed;
  top: 20%;
  left: -50%;
  padding: 20px;
  width: 500px;
  font-size: 24px;
  background-color: var(--black);
  z-index: 50;
  border-right: 5px solid var(--orange);
  border-top: 5px solid var(--orange);
  border-bottom: 5px solid var(--orange);
  animation: showInfo 4s normal;
}

.show-info-about-video span {
  color: var(--orange);
  font-weight: bold;
  letter-spacing: 3px;
  word-wrap: break-word;
}

@keyframes showInfo {
  0% {
    left: -50%;
  }
  30% {
    left: 0;
  }
  70% {
    left: 0;
  }
  100% {
    left: -50%;
  }
}

.current-year {
  color: var(--white);
}
