.contact-section {
  display: none;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-side-up {
  display: flex;
  flex-direction: column;
}

.my-card {
  cursor: auto;
  border: 3px solid black;
  height: 390px;
}

.info-about-me {
  display: flex;
  flex-direction: column;
}

.my-info {
  margin: 20px 0px 20px 35px;
  font-size: 20px;
}

.my-info-link {
  background-color: var(--orange);
  padding: 10px;
  border-radius: 25px;
  color: black;
  margin-right: 15px;
  transition: transform 0.3s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}

.my-info:hover .my-info-link {
  transform: scale(1.2);
}

.contact-side-down form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-side-down input,
textarea {
  border-radius: 15px;
  padding: 10px 25px;
  color: var(--white);
  border: 2px solid transparent;
  font-size: 16px;
  background-color: #323232;
  font-family: 'Syne Mono', monospace;
  margin: 20px 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.contact-side-down input {
  width: 230px;
  height: 45px;
}

.contact-side-down button {
  width: 100px;
  height: 45px;
  font-family: 'Syne Mono', monospace;
  font-size: 16px;
  border-radius: 15px;
  padding: 10px 25px;
  border: 2px solid transparent;
  background-color: var(--orange);
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  transition: background-color 0.7s, transform 0.3s;
}
.contact-side-down button:hover {
  background-color: var(--green);
  transform: scale(1.05);
}

.contact-side-down textarea {
  min-width: 350px;
  max-width: 350px;
  min-height: 300px;
  max-height: 400px;
}

.contact-side-down input:focus,
textarea:focus {
  outline: none;
  background-color: rgb(36, 36, 36);
  font-family: 'Syne Mono', monospace;
  border: 2px solid transparent;
}

@media (min-width: 576px) {
  .contact-side-up {
    flex-direction: row;
  }
  .info-about-me {
    margin: 60px 0px 0px 20px;
  }

  .my-info {
    margin: 30px 0;
    font-size: 24px;
  }

  .contact-side-down input,
  textarea {
    font-size: 18px;
  }

  .contact-side-down input {
    width: 350px;
  }

  .contact-side-down button {
    width: 200px;
    font-size: 18px;
  }

  .contact-side-down textarea {
    min-width: 570px;
    max-width: 670px;
    min-height: 300px;
    max-height: 400px;
  }
}
