.nav {
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.837);
    border-radius: 0px 0px 40px 40px;
    z-index: 9;
  }
  
  .nav-logo {
    letter-spacing: 10px;
    font-size: 40px;
    color: var(--white);
  }
  
  .nav-link {
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 30px;
    text-shadow: 0 0 5px #ff0000, 0 0 20px #000000, 0 0 90px rgb(255, 0, 0),
      0 0 150px rgb(73, 73, 73);
    border: 2px solid transparent;
    transition: 0.3s;
  }