.nav {
  display: flex;
  top: 0;
  padding: 40px 0;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.837);
  z-index: 9;
}

.nav-hamburger-icon {
  font-size: 30px;
}

.nav-mobile {
  justify-content: space-around;
  align-items: center;
}

.two-nav-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 80px;
  left: -100%;
  font-size: 25px;
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.837);
  border-radius: 0px 0px 40px 40px;
  z-index: 5;
}

.two-nav-links-active {
  animation: showTwoLinks 0.8s forwards;
}

@keyframes showTwoLinks {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.nav-desktop {
  display: none;
  position: sticky;

  border-radius: 0px 0px 40px 40px;
}

.nav-logo {
  letter-spacing: 10px;
  font-size: 32px;
  color: var(--white);
}

.nav-link {
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 30px;
  text-shadow: 0 0 5px #ff0000, 0 0 20px #5c5c5c, 0 0 90px rgb(255, 0, 0),
    0 0 150px rgb(73, 73, 73);
  border: 2px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

@media (min-width: 576px) {
  .nav-logo {
    font-size: 40px;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 615px) {
  .nav-link {
    font-size: 26px;
  }
}